.__artsa #main-body.widget {
  width: 100% !important;
}

.__artsa #sidepanel {
  width: 34% !important;
}

.canvas-border {
  height: 0 !important;
}

.__artsa .panel {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
